<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">The form is incomplete!</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">The target date must have a value!</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">The description must have min 5 characters!</div>
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" #description="ngModel" [(ngModel)]="todo.description" class="form-control" name="description" required="required" minlength="5">
        </fieldset>
        <br>
        <fieldset class="form-group">
            <label>Target Date</label>
            <input type="date" #targetDate="ngModel"
            [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" 
            (ngModelChange)="todo.targetDate = $event"
            class="form-control" name="targetDate" required="required">
        </fieldset>
        <br>
        <button type="submit" class="btn btn-success form-group">Save</button>
    </form>
</div>